pre {
    margin: 0 auto;
    color: #fff;
    width: 500px;
}
/*================================= Taki 404 =================================*/
#taki-404{background:url('../../images/bg.png') no-repeat center center #1d1d1d;color:#eee;font-family:Corbel,Arial,Helvetica,sans-serif;font-size:13px;padding-top:50px;padding-bottom:50px;height:850px}
#taki-404 #rocket{width:275px;height:375px;background:url('../../images/rocket.png') no-repeat;margin:0 auto 50px;position:relative}
#taki-404 hgroup{display:block;margin:0 auto;width:850px;font-family:'Century Gothic',Calibri,'Myriad Pro',Arial,Helvetica,sans-serif;text-align:center}
#taki-404 h1{color:#76D7FB;margin-bottom:5px;font-size:40px!important;text-shadow:3px 3px 0 #3D606D;font-weight:600;font-family:dinhit}
#taki-404 h2{color:#9FE3FC;font-size:30px!important;font-weight:normal;font-family:dinhit-1}
#taki-404 p.createdBy{font-size:15px;font-weight:normal;margin:50px;text-align:center;text-shadow:none}
#taki-404 a,#taki-404 a:visited{text-decoration:none;outline:none;color:#97cae6}
#taki-404 a:hover{border-bottom:1px dashed transparent}
#taki-404 p{padding-bottom:25px;font-size:18px}
#taki-404 span{font-size:18px}
.steam1,.steam2{position:absolute;bottom:78px;left:50px;width:80px;height:80px;background:url('../../images/steam.png') no-repeat;opacity:0.8}
.steam2{background-position:left bottom}
@media (max-width:480px){#taki-404{height:700px!important}#taki-404 hgroup{width:100%;padding:0 30px}#taki-404 h1{font-size:25px!important}#taki-404 h2{font-size:20px!important}}
/*================================= END Taki 404 =================================*/
@font-face{font-family:'dinhit';src:url(../../../font/SFUEurostileBold.ttf);}
@font-face{font-family:'dinhit-1';src:url(../../../font/SFUEurostileCondensed.ttf);}
.welcome{font-size:20px;margin:0;padding:5px;display:inline-block}
.top_nav .navbar-right{margin:10 0}
.top_nav .navbar-right li{top:2px;right:2%}
.navbar-right #navbarDropdown1{position:relative;top:4px}
.navbar-right #navbarDropdown1 .top_nav li a i{font-size:20px}
.navbar-right .info-number .badge{right:0!important;top:-15px!important}
.img-circle.profile_img{padding:1px;width:70px;height:70px;margin-top:0}
.profile_info{padding:10px}
.navbar-right .dropdown-usermenu{top:24px!important}
.hanh-dong-img{border:1px solid #BFBFBF;border-radius:5px;width:30px}
.table-taki th{background:#26B99A;border-color:#36b49a;color:#fff;font-size:14px;}
.table-taki th.table-sku{text-align:center;width:100px}
.table-taki th.table-thanhtien{text-align:right;width:200px}
.table-taki th.table-thumb{text-align:center;width:100px}
.table-taki th.table-price{text-align:right;width:200px}
.table-taki td.table-ma{text-align:center}
.table-taki td.table-thanhtien{text-align:right}
.table-taki td.table-soluong{text-align:center}
.table-taki td.table-price{text-align:right}
.table-taki .table-hanhdong{width:120px;text-align:center}
.table-taki td.table-hinh{width:120px;text-align:center}
.table-taki td.table-hinh img{width:100%}

.table-taki th.table_email{width:300px}
.table-taki th.table-role{width:200px}
.site_title i{border:none;margin-right:5px!important}
.site_title{font-size:18px!important}
input.file-upload{padding:3.5px;float:right;text-align:right}
.panel_toolbox{min-width:0}
.table-taki-1 input{border:1px solid #ddd;width:100%;height:25px}
.table-taki-1 input[type="submit"]{width:48%;margin:0;padding:0;font-size:14px;height:25px}
.btn{padding:4px 10px !important}
.checkbox{position:relative;top:7px}